In [1]:
import numpy as np
import pandas as pd

In [2]:
import json

In [73]:
from importlib import reload 
import bright_future_base as bf
reload(bf)

In [39]:
df_works = bf.load_df_works()

Hypothetical: Say Tim has won the "Kraska Krown", Sam has won the "Madden Memorial (RIP Sam) Award". And, they have each won the "6S079 Prof Award", in different years.
Let's get an award winner, then load their data from a relevant year.

In [40]:
award_winners = bf.load_award_winners()
award_winners

{'Kraska Krown': {2021: 'Tim Kraska'},
 'Madden Memorial (RIP Sam) Award': {2020: 'Samuel Madden'},
 '6.S079 Prof Award': {2021: 'Tim Kraska', 2020: 'Samuel Madden'}}

In [41]:
# TODO filter_for_award_winner( (2020:'Sam') ) or smth
works_madden_award_winner = bf.filter_works(df_works, "Samuel Madden", 2020)
works_madden_award_winner.head()

,author,dept,area,count,adjustedcount,year,field
0,Samuel Madden,Massachusetts Institute of Technology,aaai,1,0.1,2020,AI
3,Samuel Madden,Massachusetts Institute of Technology,eccv,1,0.11111,2020,Vision
18,Samuel Madden,Massachusetts Institute of Technology,icde,1,0.2,2020,DB
24,Samuel Madden,Massachusetts Institute of Technology,mobisys,1,0.1,2020,Mobile
28,Samuel Madden,Massachusetts Institute of Technology,oopsla,1,0.25,2020,PL

Use this raw data, to construct a "profile" -- some aggregate facts about this raw data. Kinda like saying "mean", "count", "vizualization", etc -- a representation that's less information but easier to parse.

In [42]:
# Profile: count works by field
bf.count_works_by_field(works_madden_award_winner)

{'AI': 1, 'DB': 7, 'Mobile': 1, 'PL': 1, 'Vision': 1}

How well does a diff person's research profile (hypothetically, Tim's cuz im too lazy to load data) stick up to the award winner?

In [43]:
my_works = bf.filter_works(df_works, "Tim Kraska", 2020)
my_works.head()

,author,dept,area,count,adjustedcount,year,field
76,Tim Kraska,Massachusetts Institute of Technology,icde,1,0.33333,2020,DB
78,Tim Kraska,Massachusetts Institute of Technology,mobisys,1,0.1,2020,Mobile
90,Tim Kraska,Massachusetts Institute of Technology,sigmod,7,1.3444,2020,DB
101,Tim Kraska,Massachusetts Institute of Technology,vldb,3,0.54167,2020,DB

In [57]:
print(bf.similarity_works(works_madden_award_winner, my_works))

# alternatively, for convenicne
print(bf.similarity_by_author(df_works, 'Samuel Madden', 'Tim Kraska', year=2020))

0.9700112084454195
0.9700112084454195

So, Tim's research profile is quite similar to the Madden award winner!

In [75]:
bf.train_classifier(df_works, None, None)

SGDClassifier(loss='log')